@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 250 250 250;
  --foreground: 23 23 23;
}

.dark {
  --background: 23 23 23;
  --foreground: 250 250 250;
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}